.main {
  display: grid;
  place-items: center;
  flex-grow: 1;
  padding: 0 var(--spacing-lg);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.hero__title {
  font-size: var(--font-size-2xl);
  text-align: center;
}
